@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap');
@import url("https://fonts.cdnfonts.com/css/avenir");

/* Colors */
$primary-color: #FF7400;
$secondary-color: #FFD500;
$background: #F5F6F7;

$red: #FF2800;
$grey: #686E7F;
$grey-dark: #333333;
$grey-2: #8D92A0;
$white: #CCCCCC;
$pure-white: #FFFFFF;
$blue-duo: #1CB0F6;
$green-duo: #00FF00;

$btn-background: #ECEDF1;
$black: #252525;
$red-2pto: #E57083;
$green-3pto: #5A816A;
$blue-t-c: #0E4DB8;
$blue-card: #CEE4FF;
$blue-bg-notification-card: #E4F1FF;
$green-dcto: #52BA52;

/* Gradients */
$primary-gradient: linear-gradient(#FFD500,
		#FF7400,
		#FF2800);

/* Fonts */
$font-system: system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
	oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-accent: "Rajdhani", $font-system;
$font-body: "Avenir", $font-system;

/* Weight */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

/* Border radius */
$radius-shark: 0;
$radius-pill: 50rem;

/* Outline */
$outline: 3px solid $primary-color;

/* Transitions */
$appears-transition: cubic-bezier(0.12, 0.6, 0.54, 0.56);
