.chats__nav {
	border-bottom: 1px solid #00000033;
}

.chats__section {
	padding-block-start: 0;

	& .avatar__logo--moto {
		translate: 60% 0;
	}
}


/* ------------------------------------*\
	#  Searcher
\*------------------------------------ */

.search {
	&__container {
		padding: 5px 10px;
		background-color: $pure-white;
		gap: 6px;

		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	}

	&__input {
		background-color: transparent;
		font-family: inherit;
		line-height: 2;
		font-size: 16px;
		border: none;
		inline-size: 100%;
	}
}
