.header-chat nav {
	border-bottom: 1px solid #00000033;
}

form label {
	gap: 6px;
	border-radius: 50rem;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	padding: 5px 10px;
	background-color: $pure-white;
}

form label input {
	background-color: transparent;
	font-family: inherit;
	line-height: 2;
	font-size: 16px;
	border: none;
}

// chats
.chats-section {
	padding-block-start: 0;

	& .avatar__logo--moto {
		translate: 60% 0;
	}
}

// Card
.card {
	background-color: transparent;
	margin: 15px;
}

.card.horizontal {
	gap: 28px;
}

.card.horizontal .card-content {
	padding: 0;
	padding-block: 10px 7px;
	border-bottom: 1px solid #00000033;
	position: relative;

	& .truncate {
		max-inline-size: 27ch;
	}
}

.hora-container {
	position: absolute;
	margin-left: auto;
	display: grid;
}

.hora-container.push__notification-container {
	position: absolute;
	top: 10px;
	right: 0;
	place-items: flex-end;
}

.hora-container.push__notification-container .badge.push__notification {
	position: initial;
	margin-top: -4px;
	font-size: 8px;
}
